nav {
    color: black;
    background: white;
    border-bottom: 2px solid black;
    position: relative;
    top: -20px;
}

.nav-bar > a{
color: rgb(0, 110, 255);
font-weight: bold;
padding: 10px;
text-decoration: none;
letter-spacing: 2px;
}

.nav-bar > a:hover{
    color: rgb(0, 117, 250);
}

.nav-bar > a:active{
    color: rgb(0, 0, 0);
}


.header{
    color: blue;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    letter-spacing: 3px;
}